<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mkv_2_Mp4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mkv_2_Mp4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mkv_2_Mp4.Properties.Settings>
            <setting name="keepffmpeg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoupd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="betaupd" serializeAs="String">
                <value>False</value>
            </setting>
        </Mkv_2_Mp4.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Mkv_2_Mp4.Properties.Settings>
            <setting name="progver" serializeAs="String">
                <value>1</value>
            </setting>
        </Mkv_2_Mp4.Properties.Settings>
    </applicationSettings>
</configuration>